<html>
<head>
  <title> Todo List </title>

  <!-- google for jquery cdn and choose the package you need and copy paste
  the entire <script> tag
  https://code.jquery.com/
-->
<script
src="https://code.jquery.com/jquery-1.12.4.min.js"
integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>

<link href="/assets/styles.css" rel = "stylesheet" type="text/css" />
</head>

<body>
  <!-- For the logo u need to trigger the h1 tag with any value inside-->
  <h1>a</h1>
  <div id = "todo-table">
    <form>
      <input type= "text" name = "item" placeholder = "Add new item.." required />
      <button type = "submit"> Add item </button>
    </form>
    <ul>
      <li> Item 1 </li>
      <li> Item 2 </li>
      <li> Item 3 </li>
    </ul>
  </body>
  </html>
